.list-todo-container {
    button{
        cursor: pointer;
    }

    .list-todo-contents {
        
        margin-top: 20px;
    
    .list-content {
        border-bottom: 1px solid grey;
        margin: 10px;
        height: 40px;

        .btn-edit{
            margin: 10px;
            }
        }
    } 
}
